body{
    
    background-image: linear-gradient(to right, red 30%, yellow );
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    font-family: 'Avenir Next';
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.computerArea{
    display: flex; 
    flex-direction: row;        
    justify-content: center;
    margin-bottom: 100px;
    align-items: center;
    margin-top: 50px; 
}

.Table {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;        
    align-items: center; 
    margin-top: 50px; 
}






.PlayerArea {
    display: flex;
    justify-content: center;
    flex-direction: row; 
    align-items: center; 
    margin-top: 100px; 
}


img {
    width: 100px;
    margin-left: -28px;
    border-radius: 10px;
    box-shadow: -7px -7px 14px #00405c;
}
.PlayerCard img:hover {
    transform: scale(1.05) translateY(-8px);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.PlayerCard img {
    transition: all 0.1s ease-in-out;
}


.draw-pile img:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.draw-pile img {
    transition: all 0.1s ease-in-out;
}

#draw-card {
    position: absolute;
    right: 19vw;
    z-index: 2;
}


.hidden {
    display: none;
}

.player-draw {
    transform: translateY(260px) translateX(-100px);
    transition: all 0.2s ease-in-out;
}
.computer-draw {
    transform: translateY(-260px) translateX(-100px);
    transition: all 0.2s ease-in-out;
}

.player-animation {
    position: absolute;
    z-index: 2;
    left: 75vw;
    top: 600px;
}

.computer-animation {
    position: absolute;
    z-index: 2;
    left: 75vw;
    top: 100px;
}






.color-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 60vw;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    opacity: 0;
}

.color-picker p {
    color: rgb(134, 174, 204);
    font-size: large;
}
.player-animation img {
    border-radius: 0px;
    box-shadow: none;
    transition: all 1s ease-in-out;
}
.computer-animation img {
    border-radius: 0px;
    box-shadow: none;
    transition: all 1s ease-in-out;
}