body{
    
    background: linear-gradient(106deg, rgba(255,49,49,1) 0%, rgba(255,123,70,1) 77%, rgba(255,145,77,1) 100%);
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    font-family: 'Avenir Next';
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.computerArea{
    display: flex; 
    flex-direction: row;        
    justify-content: center;
    margin-bottom: 100px;
    align-items: center;
    margin-top: 50px; 
}

.Table {
    width: 100%;
    flex-direction:row ;        
    padding: 100px; 
    /* grid-template-columns: repeat(2, auto); */
    /* grid-template-rows: auto;  gap: 150px; */
    
    display:flex ;
    justify-content: space-around;
    
}

.play-pile{background-color: aliceblue;
    margin-left: 500px

} 
.PlayerArea {
    display: flex;
    justify-content: center;
    flex-direction: row; 
    align-items: center; 
    margin-top: 100px; 
}
#card1{
margin-left: 0%;
}

img {
    width: 100px;
    margin-left: -28px;
    border-radius: 10px;
    box-shadow: -7px -7px 14px #00405c;
}
.PlayerCard img:hover {
    transform: scale(1.05) translateY(-8px);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.PlayerCard img {
    transition: all 0.1s ease-in-out;
}


.draw-pile img:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.draw-pile img {
    display: flex;
    transition: all 0.1s ease-in-out;
}

#draw-card {
    position: absolute;
    right: 19vw;
    z-index: 2;
}


.hidden {
    display: none;
}

.player-draw {
    transform: translateY(260px) translateX(-100px);
    transition: all 0.2s ease-in-out;

}
.computer-draw {
    transform: translateY(-260px) translateX(-100px);
    transition: all 0.2s ease-in-out;
}

.player-animation {
    position: absolute;
    z-index: 2;
    left: 75vw;
    top: 600px;
}

.computer-animation {
    position: absolute;
    z-index: 2;
    left: 75vw;
    top: 100px;
}






.color-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 60vw;
    margin: auto;
    margin-top: 20px;
    opacity: 0;
}

.color-picker p {
    color: rgb(241, 241, 241);
    font-size: large;
    font-style: italic;
    font-family: monospace;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
    color: black;
}


.color-picker p {
    color: rgb(134, 174, 204);
    font-size: large;
}
.player-animation img {
    border-radius: 0px;
    box-shadow: none;
    transition: all 1s ease-in-out;
}
.computer-animation img {
    border-radius: 0px;
    box-shadow: none;
    transition: all 1s ease-in-out;
}