body{
    background: linear-gradient(106deg, rgba(255,49,49,1) 0%, rgba(255,123,70,1) 77%, rgba(255,145,77,1) 100%);
    align-items: center; 
    text-align: center;
    
}

#player-uno {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 40%;
}
.rules{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:50px;
    padding: 20px;
    margin: 80px auto;
    /* box-shadow: 0 0 20px rgba(0,0,0,0.3); */

}



.rule {
    height: 350px;
    width: 200px;
    border-radius: 30px;
    padding: 20px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    margin: 5px auto; 

}

.red {
    background-color: #e74c3c;
    border: 10px solid #c0392b;
}

.green {
    background-color: #2ecc71;
    border: 10px solid #27ae60;
}

.blue {
    background-color: #3498db;
    border: 10px solid #2980b9;
}

.yellow {
    background-color: #f1c40f;
    border: 10px solid #f39c12;
}

h1{
    font-family: "Inconsolata", monospace;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: x-large;

}

.start{
    border: 5px solid rgb(24, 24, 24);
    border-radius: 30px;
    width: 150px;
    height: 60px;
    background-color: black;
    font-style: italic;
    font-family: "Inconsolata", monospace;

    color: antiquewhite;
    
}

img{
    width: 80px;
    /* margin-left: 20px;
    margin-right: 20px; */
}

p{
    text-align: center;
    font-size: 25px;
    font-family: "Inconsolata", monospace;

}